.PhonesAll {
    background-color: #f5f5f5;
    padding: 1rem;
    .phonesList {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-decoration: none;
        .phoneCardLink {
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 1rem;
            padding-right: 1rem;
        }
    }
}