.PhoneDetail {
    width: 1fr;
    padding: 1.5rem;
    .image-forms {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        padding-bottom: 2rem;
        .img-phone {
            height: 25rem;
        }
        .model-price {
            display: flex;
            justify-content: center;
            .model {
                padding-right: 1rem;
            }
        }
    }
    .data-purchase-btn {
        display: grid;
        grid-template-columns: 1fr 1fr;
        .data {
            padding-right: 1rem;
        }
        .purchase-button {
            height: 3rem;
            width: 100%;
        }
    }
}