.UserButton {
    .MuiSvgIcon-root {
        font-size: 3rem;
    }
    .MuiSnackbar-anchorOriginBottomLeft {
        bottom: -80vh;
    }
    .MuiSnackbarContent-root {
        background-color: #D32F2F;
    }
}