.boxLogin {
    position: fixed;
    padding: 10px;
    width: 280px;
    left: 50%;
    margin-left: -150px;
    height: 180px;
    top: 50%;
    margin-top: -100px;
    background: #FFF;
    z-index: 20;
}

.backgroundCover {
    position: fixed;
    width: 1fr;
    height: 1fr;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}