$dark-primary-color: #0288D1;
$light-primary-color: #B3E5FC;
$primary-color: #03A9F4;
$text-icons: #FFFFFF;
$accent-color: #8BC34A;
$primary-text: #212121;
$secondary-text: #757575;
$divider-color: #BDBDBD;